body {
    background: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    width: 90%;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
}
#weather-icon {
    font-size: 80px;
    margin-top: 20px;
}
input {
    border: 0; outline: 0; background: #ebfffc; color: #555;
    padding: 10px 25px; height: 30px; border-radius: 30px;
    flex: 1; margin-right: 16px; font-size: 18px;
}
button {
    border: 0; outline: 0; background: #ebfffc; border-radius: 50%;
    width: 50px; height: 50px; cursor: pointer;
}
